*{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

img{
  display: block;
  object-fit: auto;
}
ul, ol{
  list-style: none;
}

.App {
  text-align: center;
}

.App-main {
  padding-top: 15px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}
.pokedex{
display:flex;
position:relative;
box-shadow: whitesmoke 1px 1px 0px,whitesmoke -5px 0px 12px;
background-color:#d2063f;
border-radius: 15px
}
.unknown_pokemon{
  height: 20px;
  width: 200px;
  color: #d2063f;
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: whitesmoke;
}
.pokedex_headar{
  display:flex;
  gap:5px;
  align-items:flex-start;
  position:absolute;
  top:-30px;
  background-color:#d2063f;
  padding:10px 8rem 0 10px;
  border-top-left-radius:30px;
  clip-path: polygon(0% 0%, 45% -150%, 75% 85%, 100% 100%, 0% 100%);
  overflow: hidden;
}
.pokedex_headar_sensor{
  box-shadow: rgba(255, 255, 255, 0.307)5px 1px 3px inset;
  background-color:#2f3638;
  border: 1px solid black;
  width:40px;
  height:40px; 
  border-radius:45%;
}
.pokedex_headar_sensor_mid{
  box-shadow: rgba(255, 255, 255, 0.307)5px 1px 3px inset;
  background-color:#2f3638;
  border: 1px solid black;
  width:20px;
  height:20px;
  border-radius:50%;
}
.pokedex_headar_sensor_easy{
  box-shadow: rgba(255, 255, 255, 0.307) 5px 1px 3px inset;
  background-color:#2f3638;
  border: 1px solid black;
  width:15px;
  height:15px;
  border-radius:50%;
}
.left_page{
  border-bottom-left-radius: 15px;
  padding:30px 20px 20px 20px;
}

.tv_container{
  background-color:whitesmoke ;
  padding: 5px;
  border-radius: 5px;
}
.name_pokemon{
  background-color: #2f3638;
  color: whitesmoke ;
  border-radius: 10px;
  padding-left: 10px;
  font-weight: 600;
  text-align: start;
  min-height: 22px;
}
.wraper_image_pokemon{
  display:flex;
  align-items:center;
  background-color:whitesmoke;
  width:200px;
  height:254px;
}
.wraper_screen{
  border-radius: 5px;
  overflow: hidden;
}
.wraper_tv{
  display:flex;
  justify-content: space-between
}
.gabarit_types_wrap{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: flex-start;
}
.stats_radius{
  background-color: rgb(59, 76, 90);
  width: 100px;
  color:whitesmoke ;
  border-radius: 5px;
}

.list_stats{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.item_stats{
  display: flex;
  flex-direction: column;
}

.gabarit{
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3px;
}
.container_types{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.type{
  color: whitesmoke ;
  border-radius:10px;
  padding: 0 5px 0 5px;
  background-color: gray;
}

.panel{
padding: 20px 20px 15px 20px;
background-color: #2f3638;
border-radius: 15px;
border: 2px solid black;
clip-path: polygon(0% 0%, 100% 0%, 105% 75%, 75% 110%, 0% 100%);
box-shadow: -2px -2px 6px whitesmoke   inset;
}
.lights_container{
gap: 40px;
margin-bottom: 20px;
}
.light{
  width: 10px;
  height: 10px;
  background-color: #baaeae;
  border-radius: 50%;
}
.dynamic{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dynamic_item{
width: 100px;
height: 3px;
background-color: #000000;
}
.wraper_kill_pokemon{
  display: flex;
  gap: 220px;
  margin-top: 10px;
}
.btn_kill_pokemon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d2063f ;
  cursor: pointer;
  box-shadow: 2px 0px 9px whitesmoke;
  transition: box-shadow 0.3s ease;
}
.btn_kill_pokemon:hover {
  box-shadow: 0px 3px 10px whitesmoke  ;
}
.search_form{
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: relative;
  margin-top: 5px;
}
.search_label{
  width: 82%;
}

.search_input{
  width: 100%;
  height: 25px;
  padding-left: 3px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.search_btn{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 90px;
  clip-path: polygon(60% 30%, 95% 0%, 100% 0%, 100% 100%, -30% 100%);
  box-shadow: -2px -2px 6px whitesmoke  inset;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  color: whitesmoke ;
  transition: box-shadow 0.3s ease;
  background-color: #2f3638;
  border-bottom-right-radius: 15px;
}
.search_btn:hover{
  box-shadow: -4px 8px 10px whitesmoke  inset;
}
.container_evolutions{
text-align: left;
margin-top: 10px;
}
.evolutions{
  display: block;
  width: 160px;
  background-color: #2f3638;
  color: whitesmoke;
  box-shadow: 2px -2px 2px whitesmoke;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 12px;
  clip-path:polygon(0% 0%, 55% -125%, 70% 100%, 0% 100%, 0% 100%)
}
.evolutions_panel{
  background-color: #2f3638;
  width: 480px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 2px 0px whitesmoke;}
.container_pok_evol{
  background-color: #2f363800;
  height: 120px;
  gap: 10px;
  padding: 5px;
}
.wraper_evol_pok{
  width: 120px;
  height: 120px;
  background-color: aliceblue;
  border-radius: 50%;
  overflow: hidden;
}
.evo_item{
  gap: 5px;
  cursor: pointer;
  transition: transform 300ms linear;
}
.evo_item:hover img{
  transform: scale(0.9);
}


.right_page{
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px 20px 20px 20px;
}
.monitor_right{
  border-radius: 15px;
  padding: 5px 10px;
width: 460px;
height: 155px;
margin-bottom: 10px;
color: whitesmoke;
background-color: #2f3638;
box-shadow: -2px -2px 6px whitesmoke inset;
}
.list_type{
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: -2px -2px 6px whitesmoke;
}
.item_type{
  flex-basis: calc(100% /5);
}
.btn_type{
  color: whitesmoke;
  width: 80px;
  padding: 3px ;
  background-color: #2f3638;
  cursor: pointer;
}

.list_pok{
  flex-wrap: wrap;
  width: 100%;
  gap: 3px;
}
.item_pok{
flex-basis: calc(100% /5);
}
.pokemon_of_type{
  color: whitesmoke;
  cursor:pointer;
}
.pokemon_of_type:hover{
color: #d2063f;
}
.psychic{
  background-color: #706404;
}
.fire{
  background-color: red;
}
.electric{
  background-color: #ccbf0e;
} 
.ice{
  background-color: #8693dc;
} 
.ghost{
  background-color: #1c244e;
} 
.rock{
  background-color: #3e3902;
} 
.dragon{
  background-color: rgb(240, 85, 7);
} 
.steel{
    background-color:steelblue;
}
.shadow{
  background-color: #2b2d36;
}
.grass{
  background-color: green;
} 
.water{
  background-color: #3f51b5;
} 
.ground{
  background-color: #7c4713;
} 
.dark{
  background-color: #000;
} 
.bug{
  background-color: #217858;
} 
.poison{
  background-color: #c503c5;
} 
.fairy{
  background-color: #fa6881;
} 
.fighting{
  background-color: #04234f;
}
.flying{
  background-color: #0d6cf1;
}
.unknown{
  background-color: #ca30e6;
}
.normal{
  background-color: grey;
}
.container_btn_page{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.btn_prev{
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  width: 90px;
  height: 40px;
  clip-path: polygon(0% 0%, 0% 0%, 100% -100%, 140% 136%, 0% 15%);
  box-shadow: -2px -2px 6px whitesmoke;
  background-color:#2f3638;
  color: whitesmoke;
  padding:10px;
  font-size: 10px;
  cursor: pointer;
} 
.btn_next{
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  width: 90px;
  height: 40px;
  clip-path: polygon(0% 0%, 0% 0%, 100% -100%, 140% -19%, 0% 100%);
  background-color:#2f3638;
  box-shadow: -2px -2px 6px whitesmoke;
  color: whitesmoke;
  padding:10px;
  font-size: 10px;
  cursor: pointer;
}
.wrap_type_btn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container_kil_type{
  border-radius: 15px;
  box-shadow: -2px -2px 6px whitesmoke;
  width: 120px;
  height: 50px;
  background-color: #2f3638;
}   
.pokedex_headar_right{
  width: 500px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: #d2063f;
  border-top-left-radius: 30px;
  clip-path: polygon(0% 0%, 55% -150%, 75% 85%, 0% 100%, 0% 100%);
  padding: 10px 0 0 20px;
}
.field_pokeball{
  width: 320px;
  height: 40px;
  background-color: whitesmoke;
  background-image: linear-gradient(to right,whitesmoke,#d2063f);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:0 5px;
}
.title_pokedex{
font-size: 18px;
color: #2f3638;
margin-right: 10px;
}
.wrap_pokeball{
  border-radius: 50%;
  overflow: hidden;
  animation:pokeball 3s ease infinite;
}
@keyframes pokeball{
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(210px) rotate(360deg);
  }
  100% {
    transform: translateX(0px) rotate(720deg);
  }
}
.desc_center_wrap{
  padding: 5px 20px;
  border-radius: 30px;
  overflow: hidden;
  gap: 40px;
  background-color: whitesmoke;
}
.togle_desc_btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3638 ;
  cursor: pointer;
  box-shadow: 4px 2px 4px #2f3638;
  transition: transform 0.3s ease;
}
.togle_desc_btn:hover {
  transform: scale(0.95);
}
.list_decor{
  position: absolute;
  bottom: 20px;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  pointer-events: none;
}
.item_decor{
  height: 5px;
  background: #000;
  box-shadow: 0px 2px 2px whitesmoke;
}
.first_decor_list{
  right: 20px;
  align-items: flex-end;
}
.second_decor_list{
  left: 20px;
  align-items: flex-start;
}
