.App {
  text-align: center;
}

.App-main {
  padding-top: 15px;
  background-color: var(--primary-bgcolor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokedex{
display:flex;
box-shadow: var(--secondary-color) 1px 1px 0px,var(--secondary-color) -5px -10px 30px;
background-color:var(--primary-color);
border-radius: 15px
}

.left_page{
  position:relative;
  border-bottom-left-radius: 15px;
  padding:30px 20px 20px 20px;
}

.right_page{
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px 20px 20px 20px;
}

.monitor_right{
  border-radius: 15px;
  padding: 5px 10px;
  width: 460px;
  height: 155px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  background-color: var(--primary-bgcolor);
  box-shadow: -2px -2px 6px var(--secondary-color) inset;
}

.psychic{
  background-color: #706404;
}
.fire{
  background-color: red;
}
.electric{
  background-color: #ccbf0e;
} 
.ice{
  background-color: #8693dc;
} 
.ghost{
  background-color: #1c244e;
} 
.rock{
  background-color: #3e3902;
} 
.dragon{
  background-color: rgb(240, 85, 7);
} 
.steel{
    background-color:steelblue;
}
.shadow{
  background-color: #2b2d36;
}
.grass{
  background-color: green;
} 
.water{
  background-color: #3f51b5;
} 
.ground{
  background-color: #7c4713;
} 
.dark{
  background-color: #000;
} 
.bug{
  background-color: #217858;
} 
.poison{
  background-color: #c503c5;
} 
.fairy{
  background-color: #fa6881;
} 
.fighting{
  background-color: #04234f;
}
.flying{
  background-color: #0d6cf1;
}
.unknown{
  background-color: #ca30e6;
}
.normal{
  background-color: grey;
}